---
name: Data Group
---
cycle=zero, service(hw.setGroupName("Using High VDD"));
# Some data logging here for the Using High VDD

cycle=zero, service(hw.setGroupName("Using Low VDD"));
# Some data logging here for the Using Low VDD

# Data will be logged into the database under the testname and group name
    
