---
name: Log IO change
---
Pattern(iochange_test){
    cycle=low,  clr(FCNTR);     # Clear the fail counter  (FCNTR=0)
    cycle=low,  FLIMIT = 4000;  # 24 - bit assignment  (log 4000 changes)
    READ_MORE:
        cycle=srbm,  iomask=0xf, log (CHANGE);
        cycle=low,   call (NFLE , READ_MORE );  # If fail counter < FLIMIT, go back to READ_MORE
        cycle=low,   service(pattern_stop(hw)); 
    }
 