oLLLL  # Output cycle where the DIO is held Low (0)
oZZZH  # Output cycle where the DIO is HiZ (tri-stated) for three cycles and then driven High (1)
oDDVV  # Output cycle where the DIO is driven for two ticks to Data (either 0 or 1 depending on what bit is mapped in 
       #  the DIO's Signal definition) and then invered for the following two ticks
oHLHL  # Output cycle where the DIO is driven High, Low, High then Low (like a clock)
